<!-- <div class="filters">   
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="sort-select"
            [(ngModel)]="sort">
            <mat-option value="name">Name</mat-option>
            <mat-option value="-released">Released</mat-option>
            <mat-option value="-added">Added</mat-option>
            <mat-option value="-created">Created</mat-option>
            <mat-option value="-updated">Updated</mat-option>
            <mat-option value="-rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>
        </mat-select>
    </mat-form-field>
</div> -->
<div class="container">
<div class="row p-4">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Name</button>
          <button ngbDropdownItem>Released</button>
          <button ngbDropdownItem>Added</button>
        </div>
      </div>
    </div>
</div>
</div>
<div class="games">
    <ng-container *ngFor="let game of gameList">
        <a href="" (click) = "onDetailNav($event)">
        <div class="game">
            <div class="game-thumb-container">
                <img *ngIf="game.background_Image"
                src="{{ game.background_Image }}" 
                alt="thumbnail" 
                class="game-thumbnail"/>
                <p *ngIf="!game.background_Image">No Image</p>
            </div>
            <div class="game-description">
                <p class="game-name">{{ game.name }}</p>
                <div class="game-platforms">
                    <img *ngFor="let gamePlatform of game.parentPlatForms"
                    src="{{ gamePlatform.platForm }}" 
                    alt="slug" 
                    class="game-platform"
                    />
                </div>
            </div>
        </div>
        </a>
    </ng-container>
</div>